@import "../common-hero";

.hero {
  width: 100%;
  min-height: 100dvh;
  box-sizing: border-box;
  position: relative;
  padding: calc(80px + env(safe-area-inset-top, 0)) 0 calc(40px + env(safe-area-inset-bottom, 0)) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #050d18;
  background-image: url("../../img/hero-bg-desktop.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    position: relative;
    z-index: 3;

    h2 {
      margin: 0;
      font-size: 64px;
      font-weight: 700;
    }

    p {
      margin: 10px 0 0 0;
      font-size: 24px;
      max-width: 550px;

      &.typed-text {
        max-width: 650px;
      }

      &.hero-description {
        margin-top: 50px;
      }

      span {
        letter-spacing: 1px;
        border-bottom: 2px solid var(--accent-color);
      }
    }

  }
}

@supports (height: 100dvh) {
  .hero {
    min-height: 100dvh;
  }
}

@media (max-width: 1400px) {
  .hero .container {
    margin-bottom: 200px;

    p {
      max-width: 450px;
      font-size: 21px;
    }
  }
}

@media (max-width: 1024px) {
  .hero.section {
    background-image: url("../../img/hero-bg-mobile.webp");
    align-items: baseline;

    .container {
      margin-bottom: unset;

      p {
        max-width: 720px;
      }
    }
  }
}

@media (max-height: 800px) {
  .hero.section {
    background-image: url("../../img/hero-bg-desktop.webp");

    .container {
      margin-bottom: 200px;

      p {
        max-width: 450px;
      }
    }
  }
}

@media (max-width: 850px) {
  .hero.section {
    background-image: url("../../img/hero-bg-mobile.webp");
    align-items: baseline;

    .container {
      margin-bottom: unset;

      p {
        max-width: 720px;
        margin-top: 15px;
      }

    }
  }
}

@media (max-width: 700px) {
  .hero .container {
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px;

      &.typed-text {
        min-height: 60px;
      }

      &.hero-description {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 400px) {
  .hero.section {
    padding-top: 50px;
    .container {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 16px;

        &.typed-text {
          min-height: 50px;
          margin-top: 5px;
        }

        &.hero-description {
          margin-top: 10px;
          line-height: 20px;
        }
      }
    }
  }
}


@media (max-width: 900px) {
  .swiper-slide svg {
    width: 80px;
    height: 80px;
  }
}