@import "../common-hero";

.container {
  max-width: 1040px !important;
  margin-left: 0 !important;
  padding-left: 30px !important;
}

.section-title p {
  font-size: 18px;
}

section.service-intro.section, section.service-faq.section, section.service-deadlines, .service-faq .container {
  padding-bottom: 0;
}

.breadcrumbs {
  ol {
    justify-content: center;
  }

  .nav__btn {
    color: var(--link-secondary);
    &.prev {
      margin-right: 10px;
    }

    svg path {
      fill: var(--link-secondary);
      transition: fill 0.2s;
    }

    &:hover path {
      fill: color-mix(in srgb, var(--link-secondary), transparent 25%);
    }
  }
}

@media (max-width: 1200px) {
  .page-title .container {
    padding-right: 65px;
  }
}

@media (max-width: 993px) {
  .section-title {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }
  }

  .service-when-useful .when-useful-cards .when-useful-card {
    .card-title {
      font-size: 16px;
    }

    .card-description {
      font-size: 12px;
    }
  }

  .service-steps .container .service-includes-title, .service-steps .container .step-title {
    font-size: 26px;
  }
}

@media (max-width: 993px) {
  .page-title .container {
    padding-right: 75px;
  }
  .section-title {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 650px) {
  .service-badge-container {
    display: none;
  }

  .section-title h2, .service-steps .container .service-includes-title, .service-steps .container .step-title {
    font-size: 22px;
  }
}

@media (max-width: 540px) {
  .container {
    padding-left: 12px !important;
  }

  .page-title h1 {
    font-size: 20px;
  }

  .section-title h2, .service-steps .container .service-includes-title, .service-steps .container .step-title {
    font-size: 18px;
  }

  .section-title p {
    font-size: 12px;
  }
}