@import "common/variables";

:root {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  background: #050d18;
  inset: 0;
  z-index: -1;
}

.index-page {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  color: var(--default-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

.header {
  color: var(--default-color);
  background-color: #040B14FF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  width: 300px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);

  &.header-show {
    left: 0;
  }

  .profile-img img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
  }

  .logo {
    line-height: 1;
    margin-bottom: 15px;

    h1 {
      font-size: 24px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }
  }

  .social-links {
    margin: 0 0 20px 0;

    a {
      font-size: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: color-mix(in srgb, var(--default-color), transparent 90%);
      color: var(--default-color);
      margin: 0 2px;
      border-radius: 50%;
      text-align: center;
      width: 40px;
      height: 40px;
      transition: 0.3s;

      &:hover {
        color: var(--contrast-color);
        background: var(--accent-color);
      }
    }
  }
}

.header-toggle {
  color: var(--contrast-color, #fff);
  background-color: var(--accent-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed !important;
  top: 15px;
  right: 15px;
  left: auto !important;
  z-index: 9999;
  transition: background-color 0.3s;

  &:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
  }
}

.navmenu {
  padding: 0;
  z-index: 9997;

  ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;

    a, a:focus {
      color: var(--nav-color);
      padding: 15px 10px;
      font-family: var(--nav-font), sans-serif;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: 0.3s;
      width: 100%;

      .navicon {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    a:hover, .active, .active:focus {
      color: var(--nav-hover-color);

      .navicon {
        color: var(--accent-color);
      }
    }
  }
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;

  h1 {
    font-size: 24px;
    font-weight: 700;
  }

  .breadcrumbs {
    ol {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 400;

      li:nth-of-type(1) a {
        color: var(--link-secondary);
      }

      li + li {
        padding-left: 10px;

        &::before {
          content: "/";
          display: inline-block;
          padding-right: 10px;
          color: color-mix(in srgb, var(--default-color), transparent 70%);
        }
      }
    }

    .items-nav {
      display: flex;

      .nav__btn {
        color: var(--link-secondary);

        &.prev {
          margin-right: 10px;
          justify-self: flex-start;
        }

        &.next {
          margin-left: auto;
        }

        svg path {
          fill: var(--link-secondary);
          transition: fill 0.2s;
        }

        &:hover path {
          fill: color-mix(in srgb, var(--link-secondary), transparent 25%);
        }
      }
    }
  }
}

section, .section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}


@media (min-width: 1200px) {
  .header ~ main,
  .header ~ #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}